.temp-details{
    margin-top: 0.5rem;
    flex-direction: column;
}

.temp-details>*{
    color: white;
}

.temp-details>div{
    align-self: center;
}

#one{
    display: flex;
    justify-content: center;
    color: white;
}

#two{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.two-flex{
    display: flex;
    flex-direction: column;
}

.two-flex>div{
    display: flex;
}
